.employment-container {
  list-style: none;
  padding: 0px;
  margin: 10px 0px;
  border-top: 2px solid #7e858e;
}
.filter-heading {
  font-family: 'Roboto';
  font-size: 22px;
  color: #ffffff;
}
.employment-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  margin-top: 12px;
}
.label-title {
  font-family: 'Roboto';
  font-size: 15px;
  color: #ffffff;
  align-items: center;
}
.check-box {
  height: 15px;
  width: 15px;
}
