.similar-job-item {
  width: 300px;
  border-radius: 10px;
  background-color: #2f2f2f;
  padding: 15px;
  font-family: 'Roboto';
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .similar-job-item {
    width: 100%;
    padding: 15px;
  }
}
.similar-title {
  font-size: 20px;
}

.similar-job-brief {
  font-size: 17px;
}
@media screen and (max-width: 767px) {
}
.similar-type-container {
  line-height: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.similar-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
